fieldset {
	border: 1px solid #ced4da;
	padding: 35px 20px 20px;
	margin: 0.8em;
}

table {
	width: 100%;
	border-collapse: collapse;
}

legend {
	background: #868e96;
	color: #fff;
	padding: 4px 8px;
	text-transform: uppercase;
}

tbody {
	text-align: left;
}

th {
	padding: 0.6rem;
}

th,
td {
	padding: 0.6rem;
	text-align: left;
	border-top: 1px solid #ddd;
}
